In [70]:
import pandas as pd
from datetime import timedelta, datetime
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [3]:
users_df = pd.read_csv("takehome_users.csv", encoding="latin-1")
user_engagement_df = pd.read_csv("takehome_user_engagement.csv", encoding="latin-1")

In [3]:
users_df.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [16]:
user_engagement_df.date.min()

datetime.date(2012, 5, 31)

In [6]:
len(user_engagement_df[user_engagement_df.visited == 1])

207917

In [4]:
user_engagement_df["date"] = pd.to_datetime(user_engagement_df.time_stamp).dt.date

In [14]:
user_engagement_df.groupby(["user_id", "date"]).size().reset_index().rename(columns={0:'count'})

        user_id        date  count
0             1  2014-04-22      1
1             2  2013-11-15      1
2             2  2013-11-29      1
3             2  2013-12-09      1
4             2  2013-12-25      1
...         ...         ...    ...
207912    11996  2013-09-06      1
207913    11997  2013-01-15      1
207914    11998  2014-04-27      1
207915    11999  2012-06-02      1
207916    12000  2014-01-26      1

[207917 rows x 3 columns]

In [25]:
user_engagement_df

              date           time_stamp  user_id  visited
0       2014-04-22  2014-04-22 03:53:30        1        1
1       2013-11-15  2013-11-15 03:45:04        2        1
2       2013-11-29  2013-11-29 03:45:04        2        1
3       2013-12-09  2013-12-09 03:45:04        2        1
4       2013-12-25  2013-12-25 03:45:04        2        1
...            ...                  ...      ...      ...
207912  2013-09-06  2013-09-06 06:14:15    11996        1
207913  2013-01-15  2013-01-15 18:28:37    11997        1
207914  2014-04-27  2014-04-27 12:45:16    11998        1
207915  2012-06-02  2012-06-02 11:55:59    11999        1
207916  2014-01-26  2014-01-26 08:57:12    12000        1

[207917 rows x 4 columns]

In [5]:
user_engagement_df = user_engagement_df.sort_values(["user_id", "date"], axis=0)

In [27]:
user_engagement_df

              date           time_stamp  user_id  visited
0       2014-04-22  2014-04-22 03:53:30        1        1
1       2013-11-15  2013-11-15 03:45:04        2        1
2       2013-11-29  2013-11-29 03:45:04        2        1
3       2013-12-09  2013-12-09 03:45:04        2        1
4       2013-12-25  2013-12-25 03:45:04        2        1
...            ...                  ...      ...      ...
207912  2013-09-06  2013-09-06 06:14:15    11996        1
207913  2013-01-15  2013-01-15 18:28:37    11997        1
207914  2014-04-27  2014-04-27 12:45:16    11998        1
207915  2012-06-02  2012-06-02 11:55:59    11999        1
207916  2014-01-26  2014-01-26 08:57:12    12000        1

[207917 rows x 4 columns]

In [6]:
adopted_user_dict = {}
cur_user_id = 0
cur_logging_count = 0

for index, row in user_engagement_df.iterrows():
    if row["user_id"] != cur_user_id:
        window = []
        skip_user = False
        cur_user_id = row["user_id"]
        adopted_user_dict[cur_user_id] = False
        cur_logging_count = 1
        window.append(row["date"])
    else:  # same id, continue the window
        if not skip_user:
            while (len(window) > 0) and (row["date"] >= (window[0] + timedelta(days=7))):
                window.pop(0)
                cur_logging_count -= 1
            window.append(row["date"])
            cur_logging_count += 1
            if cur_logging_count >= 3:
                adopted_user_dict[cur_user_id] = True
                skip_user = True

In [42]:
user_engagement_df[user_engagement_df.user_id == 42]

           date           time_stamp  user_id  visited
349  2012-11-13  2012-11-13 19:05:07       42        1
350  2012-12-16  2012-12-16 19:05:07       42        1
351  2012-12-18  2012-12-18 19:05:07       42        1
352  2012-12-24  2012-12-24 19:05:07       42        1
353  2012-12-25  2012-12-25 19:05:07       42        1
..          ...                  ...      ...      ...
686  2014-05-12  2014-05-12 19:05:07       42        1
687  2014-05-18  2014-05-18 19:05:07       42        1
688  2014-05-21  2014-05-21 19:05:07       42        1
689  2014-05-23  2014-05-23 19:05:07       42        1
690  2014-05-25  2014-05-25 19:05:07       42        1

[342 rows x 4 columns]

In [33]:
adopted_user_dict

{1: False,
 2: True,
 3: False,
 4: False,
 5: False,
 6: False,
 7: False,
 10: True,
 11: False,
 13: False,
 14: False,
 17: False,
 19: False,
 20: True,
 21: False,
 22: False,
 23: False,
 24: False,
 25: False,
 27: False,
 28: False,
 29: False,
 30: False,
 31: False,
 33: True,
 36: False,
 37: False,
 41: False,
 42: True,
 43: True,
 44: False,
 45: False,
 46: False,
 47: False,
 48: False,
 49: False,
 50: True,
 51: False,
 53: True,
 54: False,
 55: False,
 56: False,
 57: False,
 58: False,
 59: False,
 60: False,
 61: False,
 63: True,
 64: False,
 65: False,
 66: False,
 67: False,
 68: False,
 69: True,
 72: False,
 73: False,
 74: True,
 75: False,
 76: False,
 77: False,
 78: False,
 80: True,
 81: True,
 82: True,
 83: False,
 84: False,
 85: False,
 86: False,
 87: True,
 88: False,
 89: False,
 90: False,
 91: False,
 92: False,
 94: False,
 95: False,
 96: False,
 97: False,
 98: False,
 99: False,
 100: False,
 101: False,
 103: False,
 105: False,
 106: False,
 107: False,
 109: False,
 110: False,
 111: False,
 112: False,
 113: False,
 114: False,
 115: False,
 116: False,
 117: False,
 119: False,
 121: False,
 123: False,
 124: False,
 125: False,
 126: False,
 127: False,
 128: False,
 132: False,
 133: True,
 135: True,
 136: False,
 138: False,
 139: False,
 140: False,
 141: True,
 142: False,
 143: False,
 144: False,
 146: True,
 147: False,
 150: False,
 151: False,
 153: True,
 154: False,
 155: False,
 156: False,
 158: False,
 159: False,
 160: True,
 161: False,
 162: False,
 164: False,
 165: True,
 167: False,
 168: True,
 171: False,
 172: True,
 173: False,
 174: True,
 175: False,
 176: False,
 178: False,
 179: False,
 180: False,
 181: False,
 182: False,
 183: False,
 184: False,
 185: True,
 187: False,
 188: True,
 189: False,
 193: False,
 195: False,
 196: False,
 197: True,
 198: False,
 200: True,
 201: False,
 202: True,
 203: True,
 204: False,
 205: False,
 206: False,
 208: False,
 209: True,
 210: False,
 211: False,
 212: False,
 213: False,
 214: True,
 215: False,
 216: False,
 217: False,
 219: False,
 220: False,
 221: False,
 222: False,
 223: False,
 225: False,
 226: False,
 227: False,
 228: False,
 230: True,
 232: False,
 234: False,
 235: False,
 236: False,
 237: False,
 238: False,
 239: False,
 240: False,
 241: False,
 242: False,
 243: False,
 244: False,
 245: True,
 246: False,
 247: True,
 249: False,
 250: False,
 251: False,
 252: False,
 253: False,
 254: False,
 255: False,
 256: False,
 258: False,
 259: False,
 260: False,
 261: False,
 262: False,
 263: True,
 265: True,
 266: False,
 267: False,
 268: False,
 271: False,
 273: False,
 275: True,
 277: False,
 278: False,
 280: True,
 283: True,
 284: False,
 285: False,
 286: False,
 289: False,
 290: False,
 291: False,
 292: False,
 293: False,
 294: False,
 295: False,
 297: True,
 298: True,
 299: False,
 300: False,
 302: False,
 303: False,
 305: True,
 308: False,
 309: False,
 310: True,
 311: True,
 312: False,
 313: False,
 315: False,
 316: False,
 317: False,
 319: False,
 320: False,
 321: True,
 322: True,
 323: False,
 325: False,
 326: False,
 329: False,
 330: False,
 331: False,
 333: False,
 335: False,
 337: False,
 338: False,
 339: False,
 340: False,
 341: True,
 342: False,
 343: False,
 345: False,
 346: False,
 347: True,
 349: False,
 350: False,
 351: True,
 352: False,
 353: False,
 354: False,
 357: False,
 360: False,
 362: False,
 363: True,
 364: False,
 365: False,
 366: False,
 367: False,
 368: False,
 370: True,
 371: False,
 374: False,
 375: False,
 376: False,
 379: False,
 381: False,
 382: False,
 383: True,
 388: False,
 389: False,
 390: False,
 391: False,
 393: False,
 394: False,
 395: False,
 397: True,
 398: False,
 399: False,
 400: False,
 401: True,
 402: False,
 403: False,
 405: False,
 406: False,
 407: False,
 408: False,
 409: False,
 411: False,
 413: False,
 416: False,
 417: False,
 418: True,
 420: False,
 423: False,
 424: False,
 425: False,
 426: False,
 427: False,
 430: True,
 431: False,
 433: False,
 434: False,
 435: False,
 436: False,
 438: False,
 439: False,
 440: False,
 442: False,
 444: False,
 445: True,
 446: False,
 448: False,
 449: False,
 450: True,
 451: False,
 452: False,
 453: False,
 455: False,
 457: False,
 460: True,
 461: False,
 462: True,
 464: False,
 465: False,
 469: True,
 471: True,
 472: True,
 473: False,
 474: False,
 477: False,
 478: False,
 479: True,
 480: False,
 481: False,
 482: False,
 483: True,
 486: False,
 487: False,
 488: False,
 490: False,
 492: True,
 493: False,
 494: True,
 495: False,
 497: True,
 498: False,
 500: False,
 501: False,
 502: True,
 504: False,
 505: False,
 506: True,
 508: False,
 509: True,
 510: True,
 511: False,
 512: True,
 513: False,
 514: False,
 515: False,
 516: False,
 517: False,
 518: True,
 519: False,
 520: False,
 521: False,
 522: True,
 524: False,
 525: False,
 526: False,
 528: False,
 529: True,
 531: False,
 533: False,
 534: False,
 535: True,
 536: False,
 537: False,
 538: False,
 539: False,
 540: True,
 542: False,
 543: False,
 546: False,
 547: True,
 549: False,
 552: False,
 553: True,
 554: False,
 555: False,
 557: False,
 560: False,
 561: False,
 562: False,
 563: False,
 564: True,
 565: False,
 566: False,
 568: False,
 570: False,
 571: False,
 572: True,
 573: False,
 574: False,
 575: False,
 576: False,
 579: False,
 580: False,
 581: False,
 582: False,
 583: False,
 584: False,
 586: False,
 588: False,
 589: True,
 591: True,
 592: False,
 593: False,
 595: False,
 596: False,
 597: False,
 600: False,
 601: True,
 603: True,
 604: False,
 605: True,
 607: False,
 608: False,
 609: False,
 612: False,
 614: False,
 615: False,
 616: False,
 617: False,
 618: True,
 619: False,
 620: False,
 621: False,
 623: False,
 626: False,
 627: True,
 628: True,
 630: False,
 632: True,
 633: False,
 634: True,
 635: False,
 637: False,
 638: False,
 639: True,
 640: False,
 641: False,
 643: False,
 644: False,
 646: False,
 647: False,
 648: False,
 649: False,
 651: False,
 652: False,
 654: False,
 655: False,
 656: False,
 657: False,
 658: False,
 660: False,
 661: False,
 663: False,
 665: False,
 666: False,
 667: False,
 668: False,
 669: True,
 671: False,
 673: False,
 674: False,
 675: False,
 676: False,
 677: False,
 678: False,
 679: True,
 680: True,
 682: False,
 683: False,
 685: False,
 689: False,
 690: False,
 691: False,
 692: False,
 693: False,
 694: False,
 699: False,
 700: False,
 701: False,
 702: False,
 703: False,
 704: False,
 706: False,
 707: False,
 709: False,
 710: False,
 712: False,
 714: False,
 715: False,
 716: False,
 717: False,
 719: False,
 720: False,
 724: True,
 725: True,
 726: False,
 727: False,
 728: True,
 729: False,
 733: False,
 735: False,
 736: False,
 737: False,
 738: False,
 739: False,
 740: False,
 743: False,
 745: False,
 746: False,
 749: False,
 750: False,
 751: False,
 752: False,
 753: False,
 754: True,
 755: False,
 757: False,
 758: False,
 760: False,
 761: False,
 763: False,
 765: False,
 767: False,
 768: False,
 769: False,
 771: False,
 772: True,
 773: False,
 774: False,
 775: False,
 776: False,
 777: False,
 780: False,
 782: False,
 783: True,
 784: False,
 785: False,
 786: True,
 787: False,
 788: False,
 789: False,
 791: False,
 792: False,
 793: False,
 794: False,
 795: False,
 799: False,
 801: False,
 802: False,
 804: True,
 805: False,
 808: False,
 809: False,
 810: False,
 811: False,
 812: False,
 813: False,
 814: False,
 815: False,
 817: False,
 819: False,
 820: False,
 821: False,
 822: False,
 823: False,
 824: False,
 825: False,
 826: False,
 827: False,
 828: True,
 829: False,
 830: False,
 832: False,
 833: False,
 834: False,
 835: False,
 836: False,
 837: False,
 838: False,
 842: False,
 843: False,
 845: True,
 846: False,
 848: False,
 849: False,
 850: False,
 851: True,
 853: False,
 856: False,
 857: False,
 858: False,
 859: False,
 860: False,
 863: False,
 865: False,
 869: True,
 872: False,
 874: True,
 875: False,
 876: False,
 878: False,
 880: False,
 881: False,
 882: True,
 884: False,
 885: True,
 886: False,
 887: False,
 888: False,
 891: False,
 892: False,
 894: False,
 895: False,
 899: False,
 900: False,
 901: True,
 903: False,
 905: False,
 906: True,
 907: True,
 908: False,
 910: False,
 911: False,
 912: True,
 913: False,
 914: False,
 915: False,
 916: False,
 917: False,
 918: False,
 919: False,
 921: False,
 922: False,
 924: False,
 927: False,
 928: True,
 929: False,
 932: True,
 934: True,
 937: True,
 939: False,
 940: False,
 941: False,
 942: False,
 943: True,
 946: False,
 947: False,
 948: False,
 953: True,
 956: False,
 957: False,
 958: False,
 959: False,
 960: False,
 962: False,
 963: False,
 967: False,
 969: False,
 972: False,
 973: False,
 975: False,
 976: False,
 977: False,
 978: False,
 980: True,
 981: False,
 982: False,
 983: False,
 984: False,
 985: True,
 986: False,
 989: False,
 991: False,
 992: False,
 994: False,
 995: False,
 996: False,
 997: False,
 999: False,
 1001: False,
 1004: False,
 1005: False,
 1007: True,
 1009: True,
 1010: False,
 1013: True,
 1014: False,
 1016: False,
 1017: True,
 1018: True,
 1020: False,
 1023: False,
 1025: False,
 1026: True,
 1027: True,
 1028: False,
 1030: False,
 1031: False,
 1033: False,
 1034: False,
 1035: True,
 1036: False,
 1037: False,
 1038: False,
 1039: False,
 1040: False,
 1041: False,
 1043: False,
 1045: False,
 1047: False,
 1048: False,
 1049: False,
 1052: False,
 1053: False,
 1054: False,
 1055: True,
 1056: False,
 1057: False,
 1058: False,
 1060: False,
 1061: True,
 1063: False,
 1064: False,
 1066: False,
 1068: False,
 1069: False,
 1070: False,
 1072: True,
 1074: False,
 1076: False,
 1077: False,
 1078: False,
 1079: False,
 1080: False,
 1082: False,
 1083: False,
 1084: False,
 1085: False,
 1086: False,
 1087: False,
 1088: False,
 1089: True,
 1090: False,
 1091: False,
 1092: False,
 1093: True,
 1094: True,
 1095: False,
 1096: False,
 1099: True,
 1100: False,
 1101: False,
 1103: False,
 1104: False,
 1105: False,
 1106: True,
 1107: True,
 1108: False,
 1109: False,
 1110: False,
 1112: False,
 1113: False,
 1114: False,
 1115: False,
 1117: False,
 1119: True,
 1121: False,
 1123: True,
 1124: True,
 1125: False,
 1126: False,
 1128: True,
 1129: True,
 1131: False,
 1132: False,
 1133: False,
 1134: False,
 1135: False,
 1136: True,
 1137: False,
 1139: False,
 1140: False,
 1141: False,
 1143: False,
 1144: False,
 1145: True,
 1147: False,
 1148: False,
 1149: False,
 1150: True,
 1151: True,
 1152: False,
 1153: False,
 1154: False,
 1155: True,
 1156: True,
 1157: False,
 1159: False,
 1160: False,
 1161: False,
 1162: False,
 1163: True,
 1166: False,
 1167: False,
 1168: False,
 1169: False,
 1170: False,
 1171: False,
 1173: True,
 1176: False,
 1177: False,
 1178: False,
 1180: False,
 1181: False,
 1183: False,
 1184: False,
 1186: True,
 1187: False,
 1188: False,
 1191: False,
 1193: False,
 1194: False,
 1195: False,
 1196: True,
 1197: False,
 1199: False,
 1200: False,
 1202: True,
 1203: False,
 1205: False,
 1207: False,
 1210: False,
 1211: False,
 1212: False,
 1213: False,
 1214: True,
 1217: False,
 1218: False,
 1221: False,
 1222: True,
 1223: False,
 1225: False,
 1226: False,
 1227: False,
 1229: False,
 1230: False,
 1232: False,
 1233: True,
 1234: False,
 1235: True,
 1236: False,
 1237: False,
 1238: True,
 1239: False,
 1240: False,
 1242: True,
 1243: False,
 1244: False,
 1245: True,
 1247: False,
 1250: True,
 1251: False,
 1252: False,
 1253: False,
 1254: False,
 1256: False,
 1257: False,
 1260: False,
 1266: False,
 1267: False,
 1268: False,
 1271: False,
 1273: False,
 1274: True,
 1278: False,
 1279: False,
 1280: True,
 1281: False,
 1282: False,
 1283: False,
 1285: False,
 1286: False,
 1287: False,
 1288: False,
 1289: False,
 1290: True,
 1291: False,
 1293: False,
 1294: False,
 1296: False,
 1297: False,
 1298: False,
 1299: False,
 1301: False,
 1302: False,
 1303: True,
 1305: False,
 1306: False,
 1307: False,
 1308: False,
 1309: False,
 1310: False,
 1311: False,
 1312: False,
 1313: False,
 1314: False,
 1316: False,
 1317: False,
 1318: True,
 1319: True,
 1320: True,
 1321: False,
 1322: False,
 1324: False,
 1325: False,
 1326: False,
 1327: True,
 1328: False,
 1331: False,
 1332: False,
 1333: False,
 1335: False,
 1338: False,
 1339: True,
 1343: True,
 1344: False,
 1345: True,
 1346: False,
 1347: False,
 1349: False,
 1350: True,
 1352: False,
 1353: False,
 1354: False,
 1355: False,
 1356: False,
 1357: True,
 1358: False,
 1359: False,
 1360: False,
 1361: True,
 1363: False,
 1365: False,
 1366: False,
 1367: False,
 1368: True,
 1369: False,
 1371: False,
 1372: False,
 1373: False,
 1378: False,
 1379: True,
 1380: False,
 1381: False,
 1382: False,
 1385: False,
 1386: False,
 1387: False,
 1388: False,
 1389: False,
 1390: False,
 ...}

In [7]:
users_df = users_df.set_index("object_id")

In [44]:
users_df.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [8]:
users_df["adopted"] = pd.Series(adopted_user_dict)

In [9]:
users_df["adopted"] = users_df["adopted"].fillna(False)

In [10]:
len(users_df["org_id"].value_counts())

417

In [11]:
len(users_df[users_df["adopted"]])

1602

In [12]:
users_df["email_domain"]=users_df['email'].str.extract(r'.+@(.+)\.com')

In [21]:
def EmailGroup(row):
    if row["email_domain"] in ["gmail", "yahoo", "jourrapide", "gustr", "hotmail"]:
        return row["email_domain"]
    else:
        return "other"

In [22]:
users_df["email_group"] = users_df.apply(lambda row: EmailGroup(row), axis=1)

In [23]:
users_df.creation_time

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted,email_domain,email_group
object_id,,,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False,yahoo,yahoo
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,gustr,gustr
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False,gustr,gustr
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False,yahoo,yahoo
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False,yahoo,yahoo
...,...,...,...,...,...,...,...,...,...,...,...,...
11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,False,gustr,gustr
11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,False,gmail,gmail
11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,False,NaN,other
11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,False,iuxiw,other
12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,False,hotmail,hotmail

In [31]:
users_df["creation_time_seconds"] = (pd.to_datetime(users_df['creation_time']) - datetime(2012,1,1)).dt.total_seconds()

In [32]:
users_df

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted,email_domain,email_group,creation_time_seconds
object_id,,,,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False,yahoo,yahoo,72762810.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,gustr,gustr,59111104.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False,gustr,gustr,38358892.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False,yahoo,yahoo,43747768.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False,yahoo,yahoo,33041660.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,False,gustr,gustr,53072055.0
11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,False,gmail,gmail,32466517.0
11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,False,NaN,other,73226716.0
11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,False,iuxiw,other,13089359.0
12000,2014-01-26 08:57:12,Lima ThaÃ­s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,False,hotmail,hotmail,65350632.0

In [37]:
users_df = pd.get_dummies(users_df, columns=["creation_source", "email_group"])

In [41]:
users_df = users_df.drop(["creation_time", "name", "email", "org_id", "invited_by_user_id", "email_domain", "creation_source_SIGNUP_GOOGLE_AUTH", "email_group_other"], axis=1)

In [84]:
X = users_df.drop("adopted", axis=1)

In [45]:
y = users_df["adopted"]

In [87]:
X["last_session_creation_time"] = X["last_session_creation_time"].fillna(X["last_session_creation_time"].mean())

In [88]:
X["last_session_creation_time"] = X["last_session_creation_time"] / 1000000000

In [89]:
X[["last_session_creation_time", "creation_time_seconds"]] = preprocessing.scale(X[["last_session_creation_time", "creation_time_seconds"]])

In [91]:
clf = LogisticRegression(penalty="l1", solver="liblinear").fit(X, y)

In [94]:
X.columns

Index(['last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'creation_time_seconds',
       'creation_source_GUEST_INVITE', 'creation_source_ORG_INVITE',
       'creation_source_PERSONAL_PROJECTS', 'creation_source_SIGNUP',
       'email_group_gmail', 'email_group_gustr', 'email_group_hotmail',
       'email_group_jourrapide', 'email_group_yahoo'],
      dtype='object')

In [93]:
clf.coef_

array([[ 3.55311128, -0.02231253,  0.        , -1.9507944 , -0.00567585,
        -0.17317346, -1.09447556, -0.03251224,  0.21536975, -0.10432004,
         0.22365619, -0.0467328 , -0.14457132]])